/.github/CODEOWNERS @fzyzcjy @Ying1123
/.github/workflows/ @yushengsu-thu @guapisolo @yueming-yuan
/tests/__init__.py @yushengsu-thu @guapisolo @yueming-yuan
/tests/ci/__init__.py @yushengsu-thu @guapisolo @yueming-yuan
/tests/ci/file_run.py @yushengsu-thu @guapisolo @yueming-yuan
/tests/ci/ci_register.py @yushengsu-thu @guapisolo @yueming-yuan
/tests/ci/labels.py @yushengsu-thu @guapisolo @yueming-yuan
/tests/ci/test/test_file_run.py @yushengsu-thu @guapisolo @yueming-yuan
/miles/ @fzyzcjy @yueming-yuan @Zhichenzzz
/miles/backends/ @fzyzcjy @yueming-yuan @maocheng23 @Zhichenzzz @Shi-Dong
/miles/backends/fsdp_utils/ @fzyzcjy @yueming-yuan @Zhichenzzz @guapisolo @Rockdu
/miles/backends/megatron_utils/ @fzyzcjy @yueming-yuan @maocheng23 @yushengsu-thu @Zhichenzzz @Shi-Dong
/miles/backends/sglang_utils/ @fzyzcjy @yueming-yuan @maocheng23 @yushengsu-thu @Zhichenzzz @Shi-Dong
/miles/dashboard/ @fzyzcjy @yueming-yuan @Zhichenzzz @guapisolo @Shi-Dong @maocheng23
/miles/ray/ @fzyzcjy @yueming-yuan @maocheng23
/miles/rollout/ @fzyzcjy @yueming-yuan @guapisolo @Shi-Dong
/miles/rollout/session/ @fzyzcjy @yueming-yuan @guapisolo @maocheng23 @jybsuper @Shi-Dong
/miles/router/ @fzyzcjy @yueming-yuan @guapisolo
/miles/utils/ @fzyzcjy @yueming-yuan @guapisolo @maocheng23 @jybsuper @Zhichenzzz @Shi-Dong
